# This workflow calls the master UI workflow with custom variables
name: Scenario 2 Cypress firefox

on:
  workflow_dispatch:
  
  schedule:
    - cron: '0 3 * * *'

jobs:
  call-master-UI-workflow:
    uses: ./.github/workflows/master_ui_workflow.yml
    with:
      browser: firefox
      cypress_image: cypress/browsers:node16.13.0-chrome95-ff94
      cypress_test: install_with_s3_and_external_registry.spec.ts
      # Due to security reason, Firefox can't be started as root
      # https://github.com/cypress-io/github-action#firefox
      docker_options: '--user 1001'
      runner: ui-e2e-2
    secrets:
      ext_reg_user: secrets.DOCKER_USER
      ext_reg_password: secrets.DOCKER_PASSWORD
      s3_key_id: secrets.AWS_ACCESS_KEY_ID
      s3_key_secret: secrets.AWS_SECRET_ACCESS_KEY
